In [2]:
import pandas as pd
import numpy as np

In [3]:
startupfunding2020 = pd.read_csv("India Startup Funding/startup_funding2020.csv")

In [4]:
startupfunding2020.info

<bound method DataFrame.info of      Company/Brand Founded HeadQuarter              Sector
0       Aqgromalin    2019     Chennai            AgriTech  \
1         Krayonnz    2019   Bangalore              EdTech
2     PadCare Labs    2018        Pune  Hygiene management
3            NCOME    2020   New Delhi              Escrow
4       Gramophone    2016      Indore            AgriTech
...            ...     ...         ...                 ...
1050  Leverage Edu     NaN       Delhi              Edtech
1051         EpiFi     NaN         NaN             Fintech
1052       Purplle    2012      Mumbai           Cosmetics
1053        Shuttl    2015       Delhi           Transport
1054         Pando    2017     Chennai            Logitech

                                           What it does
0                          Cultivating Ideas for Profit  \
1     An academy-guardian-scholar centric ecosystem ...
2      Converting bio-hazardous waste to harmless waste
3                          Escrow-as-a-service platform
4     Gramophone is an AgTech platform enabling acce...
...                                                 ...
1050  AI enabled marketplace that provides career gu...
1051  It offers customers with a single interface fo...
1052         Online makeup and beauty products retailer
1053                    App based bus aggregator serice
1054            Networked logistics management software

                                               Founders
0                       Prasanna Manogaran, Bharani C L  \
1                      Saurabh Dixit, Gurudutt Upadhyay
2                                       Ajinkya Dhariya
3                                         Ritesh Tiwari
4     Ashish Rajan Singh, Harshit Gupta, Nishant Mah...
...                                                 ...
1050                                  Akshay Chaturvedi
1051                    Sujith Narayanan, Sumit Gwalani
1052                          Manish Taneja, Rahul Dash
1053                      Amit Singh, Deepanshu Malviya
1054                     Jayakrishnan, Abhijeet Manohar

                                   Investor    Amount($)       Stage
0                           Angel investors     $200,000         NaN  \
1                           GSF Accelerator     $100,000    Pre-seed
2                            Venture Center  Undisclosed    Pre-seed
3       Venture Catalysts, PointOne Capital     $400,000         NaN
4       Siana Capital Management, Info Edge     $340,000         NaN
...                                     ...          ...         ...
1050  DSG Consumer Partners, Blume Ventures   $1,500,000         NaN
1051          Sequoia India, Ribbit Capital  $13,200,000  Seed Round
1052                             Verlinvest   $8,000,000         NaN
1053             SIG Global India Fund LLP.   $8,043,000    Series C
1054                      Chiratae Ventures   $9,000,000    Series A

     Unnamed: 9
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
1050        NaN
1051        NaN
1052        NaN
1053        NaN
1054        NaN

[1055 rows x 10 columns]>

In [5]:
startupfunding2020.shape

(1055, 10)

In [6]:
startupfunding2020.isna()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...
1050,False,True,False,False,False,False,False,False,True,True
1051,False,True,True,False,False,False,False,False,False,True
1052,False,False,False,False,False,False,False,False,True,True
1053,False,False,False,False,False,False,False,False,False,True
1054,False,False,False,False,False,False,False,False,False,True

In [7]:
startupfunding2020.value_counts()

Company/Brand  Founded  HeadQuarter  Sector   What it does                                              Founders                                         Investor        Amount($)    Stage     Unnamed: 9
Walrus         2019     Bangalore    Fintech  It provides banking solutions for teens and young adults  Bhagaban Behera, Sriharsha Shetty, Nakul Kelkar  Better Capital  Undisclosed  Pre-Seed  Pre-Seed      1
Name: count, dtype: int64

In [ ]:
#To convert the funding attribute to numeric data, we had to corece the conversion
#This is due to some missing data values which were causing errors 

startupfunding2020['Founded'] = pd.to_numeric(startupfunding2020['Founded'], errors='coerce').convert_dtypes(int)

In [ ]:
# check for NA's 
startupfunding2020.isna().sum()

In [ ]:
#To convert the column to a numerical one, there the need to remove some symbols including commas and currency

startupfunding2020['Amount'] = startupfunding2020['Amount'].apply(lambda x:str(x).replace('₹', ''))

startupfunding2020['Amount'] = startupfunding2020['Amount'].apply(lambda x:str(x).replace('$', ''))

startupfunding2020['Amount'] = startupfunding2020['Amount'].apply(lambda x:str(x).replace(',', ''))

#startup_funding_2020['Amount'] = startup_funding_2020['Amount'].apply(lambda x:str(x).replace('—', '0'))
startupfunding2020['Amount'] = startupfunding2020['Amount'].replace('—', np.nan)

In [ ]:
#Find the number of rows with undisclosed amounts 
index1 = startupfunding2020.index[startupfunding2020['Amount']=='Undisclosed']
print('The total number of undisclosed records is', len(index1))

In [ ]:
#Since undisclosed amounts does not provide any intelligence, 
#we decided to replace with empty NAN

startupfunding2020['Amount'] = startupfunding2020['Amount'].replace('Undisclosed', np.nan)

In [ ]:
#print a summary information on the 2020 data 
startupfunding2020.info()

In [ ]:
#Find the row with 887000 23000000 in the amount section
index1 = startupfunding2020.index[startupfunding2020['Amount']=='887000 23000000']
index1

In [ ]:
#print the row record
startupfunding2020.loc[(index1)]

In [ ]:
#replace the values with the average 
avg = str((887000+23000000)/2)
startupfunding2020.at[465, 'Amount'] = avg 

#print the row record to confirm
print(startupfunding2020.loc[(465)])

In [ ]:
#Find the row with 800000000 to 850000000 in the amount section
index1 = startupfunding2020.index[startupfunding2020['Amount']=='800000000 to 850000000']
index1

In [ ]:
#display the row record 
startupfunding2020.loc[(index1)]

In [ ]:
#replace the values with the average 
avg = str((800000000+850000000)/2)

startupfunding2020.at[472, 'Amount'] = avg 

#print the row record to confirm 
print(startupfunding2020.loc[(472)])

In [ ]:
#Find the row with Undiclsosed in the amount column 
index4 = startupfunding2020.index[startupfunding2020['Amount']=='Undiclsosed']
#index1 = startupfunding2020.index[startupfunding2020['Amount'].str.contains('Undisclosed')] 
index4

In [ ]:
#print the row record 
startupfunding2020.loc[(index4)]

In [ ]:
# Replace the  row by index value with undisclosed amount 
#startupfunding2020 = startupfunding2020.drop(labels=index4, axis=0)

startupfunding2020['Amount'] = startupfunding2020['Amount'].replace('Undiclsosed', np.nan)

In [ ]:
#Find the row with Undiclsosed in the amount column 
index5 = startupfunding2020.index[startupfunding2020['Amount']=='Undislosed']
#index5 = startupfunding2020.index[startupfunding2020['Amount'].str.contains('Undisclosed')] 
index5

In [ ]:
#print the row record 
startupfunding2020.loc[(index5)]

In [ ]:
# delete the  row by index value with undisclosed amount 
#startupfunding2020 = startupfunding2020.drop(labels=index5, axis=0)

startupfunding2020['Amount'] = startupfunding2020['Amount'].replace('Undislosed', np.nan)

In [ ]:
#Convert the Amount column to float 

startupfunding2020['Amount'] = pd.to_numeric(startupfunding2020['Amount'], errors='coerce')

In [ ]:
duplicates = startupfunding2020[startupfunding2020.duplicated()]

duplicates

In [ ]:
#delete duplicates 

startupfunding2020 = startupfunding2020.drop_duplicates(keep='first')

In [ ]:
#Check the 2020 datatset information to confirm the datatypes 
startupfunding2020.info()

In [ ]:
#Check the first set of row 
startupfunding2020.head()

In [ ]:
#Check the final shape of the data after preprocessing 
startupfunding2020.shape